<div class="header-mobile hider">
    <img class="logoo" src="assets/images/stone.png">
    <i class="fa fa-bars size"></i>
</div>
<div class="header">
    <div class="headerContent">
        <div class="imgbox hide">
            <img class="logo" src="assets/images/logo.svg">
        </div>
        <ul class="hide">
            <li>Home</li>
            <li>About Us</li>
            <li>Projects</li>
            <li>Sevices</li>
            <li>Contact</li>
        </ul>
        <div class="icons hide">
            <i class="fa fa-facebook i"></i>
            <i class="fa fa-instagram i"></i>
            <i class="fa fa-phone i"></i>
        </div>
    </div>

</div>
<div class="cards-allocator">
    <div class="cards">
        <div class="cards-icon-space">
            <div class="circle-div">
                <i class="material-icons circleicon">campaign</i>
            </div>
        </div>
        <div>
            <p class="padd black">Complete Transparency</p>
            <p class="padd grey">Experience total transparency in all transactions</p>
        </div>
    </div>

    <div class="cards">
        <div class="cards-icon-space">
            <div class="circle-div">
                <i class="material-icons circleicon">enhanced_encryption</i>
            </div>
        </div>
        <div>
            <p class="padd black">Client Commitment</p>
            <p class="padd grey">Hard-wired to deliver only excellent service</p>
        </div>
    </div>

    <div class="cards">
        <div class="cards-icon-space">
            <div class="circle-div">
                <i class="material-icons circleicon">payments</i>
            </div>
        </div>
        <div>
            <p class="padd black">Trouble-free Transactions</p>
            <p class="padd grey">Support for every legal transaction</p>
        </div>
    </div>

    
    <div class="cards">
        <div class="cards-icon-space">
            <div class="circle-div">
                <i class="material-icons circleicon">insights</i>
            </div>
        </div>
        <div>
            <p class="padd black">Gainful Insights</p>
            <p class="padd grey">Real-time real estate guidance</p>
        </div>
    </div>

</div>
<div class="align-text">
    <h1 class="h1-textalign">Projects</h1>
</div>
<div class="align-text-para">
    <p class="grey padd">Redefining the landscape of traditional realty.</p>
</div>
<div class="display-flex">
    <div class="project-cards">
        <div class="project-imgbox">
            <img class="project-img" src="assets/images/card1.jpeg">
        </div>
        <div class="project-content">
            <h1>Atmos</h1>
        </div>
    </div>

    <div class="project-cards">
        <div class="project-imgbox">
            <img class="project-img" src="assets/images/waterway.jpeg">
        </div>
        <div class="project-content">
            <h1>Waterway</h1>
        </div>
    </div>

    <div class="project-cards">
        <div class="project-imgbox">
            <img class="project-img" src="assets/images/pristine.webp">
        </div>
        <div class="project-content">
            <h1>Pristine</h1>
        </div>
    </div>

    <div class="project-cards">
        <div class="project-imgbox">
            <img class="project-img" src="assets/images/fontus.webp">
        </div>
        <div class="project-content">
            <h1>Fontus</h1>
        </div>
    </div>

    <div class="project-cards">
        <div class="project-imgbox">
            <img class="project-img" src="assets/images/enclave.webp">
        </div>
        <div class="project-content">
            <h1>Enclave</h1>
        </div>
    </div>
</div>

<div class="home">
    <div class="home-content">
        <div class="home-padd">
            <img class="logo" src="assets/images/stone.png">
            <p class="h1-home-align">Have a project to sell?</p>
            <p class="p-home-align">Don't look any further. We do A-Z marketting for all</p>
            <p class="p-home-align"> kinds of real estate projects and we help in.</p>
            <p class="p-home-align">completing the sale of the project within the</p>
            <p class="p-home-align">timeline agreed on.</p>
        </div>
    </div>
    <div class="home-img">
        <img class="home-imgs" src="assets/images/home.jpeg" alt="">
    </div>
</div>
<div class="about">
    <div class="about-card hide">
        <div class="stoneCard">
            <div class="stoneCard2">
                <img class="about-img" src="assets/images/logo.svg">
            </div>
        </div>

    </div>
    <div class="about-content">
        <div class="about-padd">
            <p class="h1-home-align">About Us</p>
            <p class="p-home-align">With in-depth knowledge of the real estate</p>
            <p class="p-home-align">industry, Stone & Acres is poised to carve out a</p>
            <p class="p-home-align">niche for itself as one of India’s most transparent</p>
            <p class="p-home-align">and reliable real estate companies.</p>
            <div>
                <button class="about-btn">Read More</button>
                <button class="about-btn2">Read More</button>
            </div>
        </div>
    </div>
</div>
<div class="real">
    <div>
    <p>REAL STORIES</p>
    </div>
    <h3 class="h-real-align">"The land spread across acres with serenity shows the meticulous</h3>
    <h3 class="p-real-align">way of hard work each of the team exhibited. Among numerous</h3>
    <h3 class="p-real-align">projects, I have searched for I have ended up in this God-blessed</h3>
    <h3 class="p-real-align">place. Investing huge amount and sometimes even a fortune worth</h3>
    <h3 class="p-real-align">every penny here, morally and economically. The location of the</h3>
    <h3 class="p-real-align">project and connectivity to IT hubs and schools are much satisfactory.</h3>
    <h3 class="p-real-align">They say "Don't judge the book by its cover". sometimes it stands</h3>
    <h3 class="p-real-align">opposite, their brochure or website details match exact reality."</h3>
    <img class="realimg" src="assets/images/nithya.jpeg" alt="">
</div>
<div class="count">
    <div class="count-align">
        <h1 class="count-font">9</h1>
        <p>PROJECTS</p>
    </div>
    <div class="count-align">
        <h1 class="count-font">863</h1>
        <p>HAPPY CLIENTS</p>
    </div>
    <div class="count-align">
        <h1 class="count-font">1128</h1>
        <p>SUCESSFULL TRANSACTIONS</p>
    </div>
</div>
<div class="join">
    <div class="join-content">
        <p>Ready to get started?</p>
        <p class="color">Join the Stone & Acres</p>
        <p class="color">community.</p>
    </div>
    <div class="joincontent">
        <button class="join-btn">Send an Enquiry</button>
        <p class="p-home-align">Do you have a question?</p>
        <p class="p-home-align">Ask here.</p>
    </div>
</div>
<footer>
    <div>
        <p class="fff">Projects</p>
        <p class="ff">Atmos</p>
        <p class="ff">Waterway</p>
        <p class="ff">Pristine</p>
        <p class="ff">Fontus</p>
        <p>Enclave</p>

    </div>
    <div>
        <p class="fff">Get in Touch</p>
        <p class="ff">contact@stoneandacres.com</p>
        <p class="ff">Stone & Acres Property Developers</p>
        <p class="ff">78/2(138/2), L.B Road, Thiruvanmiyur,</p>
        <p class="ff">Chennai 600 041</p>
        <p>+91 9176 441 441</p>
    </div>
    <div>
        <p class="fff">Connect with Us</p>
            <i class="fa fa-facebook fb"></i>
            <i class="fa fa-instagram fb"></i>
            <i class="fa fa-phone "></i>

    </div>
</footer>